<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flat_page.css') }}" />
    <title>Квартира</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='dove.png') }}" alt="logo" class="img-logo">
        </div>
        <nav id="nav">
            <ul id="nav-ul">
                <li id="nav-li"><a href="/">
                        <p id="nav-li-active">Главная</p>
                    </a></li>
                <!-- <li id="nav-li"><a href="#">
                        <p>Лучшее</p>
                    </a></li> -->
                <li id="nav-li"><a href="saved_flats">
                        <p>Сохраненное</p>
                    </a></li>
                <li id="nav-li"><a href="about_us">
                        <p>О нас</p>
                    </a></li>
            </ul>
        </nav>
        <a href=login>
            <button class="reg-btn">Регистрация</button>
        </a>
    </header>
    <main>
        <div class="image-container">
            <img class="image-container-img"
                src="{{ photos[0] }}" alt="main">
{#            <div class="info-block">#}
{#                <img src="{{ photos[2] }}"#}
{#                    alt="flat">#}
{#                <div class="title">#}
{#                    <p>Посмотреть все 16 фотографий</p>#}
{#                </div>#}
{#                <div class="dark-block"></div>#}
{#            </div>#}
            <h2 сlass="image-container-room"></h2>
        </div>
        <div class="description-container">
            <div class="description-container-text">
                <h3>{{ name }}</h3>
                <div>
                    <img class="description-container-map_point" src="{{ url_for("static", filename="placeholder.png"
                        )}}" alt="map">
                    <p>{{ address }}</p>
                </div>
                <p class="description-container-text-words"> <b>Описание: </b>
                    {{ description }}
                </p>
                <div class="description-container-text-gallery">
                    <img src="{{ photos[0] }}"
                        alt="photo1">
                    <img src="{{ photos[1] }}"
                        alt="">
                    <img src=" {{ photos[2] }}"
                        alt="">
                </div>
            </div>
            <div class="description-container-pricebox">
                <p class="description-container-pricebox-base">Основная информация</p>
                <h5><b>Владелец:</b> Агентство недвижимости</h5>
                <div class="description-container-pricebox-data">
                    <div class="description-container-pricebox-data-box">
                        <img src="{{ url_for('static', filename='bed.png') }}" alt="icon">
                        <h3>{{ rooms[0] }}</h3>
                    </div>
                    <div class="description-container-pricebox-data-box">
                        <img src="{{ url_for('static', filename='elevator.png') }}" alt="icon">
                        <h3>{{ floor }}</h3>
                    </div>
                    <div class="description-container-pricebox-data-box">
                        <img src="{{ url_for('static', filename='bath-tub.png') }}" alt="icon">
                        <h3>2</h3>
                    </div>
                    <div class="description-container-pricebox-data-box">
                        <img src="{{ url_for('static', filename='plans.png') }}" alt="icon">
                        <h3>{{ space }}</h3>
                    </div>
                </div>
                <h5 class="description-container-pricebox-price-head">Стоимость: </h5>
                <div class="description-container-pricebox-price_block">
                    <h3 class="description-container-pricebox-price">{{ price }}</h3>
                    <p>рублей</p>
                </div>
                <button class='glowing-btn'><span class='glowing-txt'> <a href= {{ link }} target="_blank"> Показать контакты</a></span></button>
            </div>
        </div>
    </main>
</body>

</html>